<html>
<head>

<style>
.outer-wrapper{
	background-color:lightgray;
	margin: auto;
	padding: 5px;
}
.inner-wrapper{
	margin-left: 10%;
}
h1  {color: #562cb7;
line-height: 1.4;
text-transform: uppercase;}

h3{
	line-height: 1.4;
text-transform: uppercase;
}
</style>
</head>
<body>


<div class="outer-wrapper">
	<div class="inner-wrapper">
<h1 > welcome user </h1>

<h2> This is a Chess game in its beta version. You and your friend can play this game sitting apart also </h2>

<h1>Instructions to play</h1>

<h3>
1) Your side (ie white or black) will be underlined on the two boxes across the board. <br/>
2)Time for each turn will be running on left bottom of the screen<br/>
3)The player whose turn is there will be displayed on right bottom of the screen.<br/>
4) As you loose your players in the game ... they will be removed from your box.<br/>
5) This game is a simulation of real chess .. therefore .. game is over when someone kills the king of their side. A dialog will appear specifying which side won.<br/>
6) no warning will be given that your king is under attack. it if for the users to see what is happening to their side .<br/>
7) To play the game go to the url https://tranquil-wildwood-65630.herokuapp.com/one?name=x/ <br/>
8) U can replace x with any name u want to start the game with and send the same url to your friend to play with you .. to make it simple ..please pass the url to only one person max other than u .<br/></h3>
<h1>9) '/' at the end of the url is of utmost importance . dont forget that </h1>

ENJOY PLAYING !!!!!!

</div>

</div>

</body>
</html>