body{
	background-image: url("background.jpg") ;
}

#videoChat{
	color:red;
	position: fixed;
	height: 300px;
	width: 400px;
	z-index: 4;
	bottom: 10px;
	left: 10px;
	/*background-color: red;*/
	margin: 0px;
}

#dbody{
	display: flex;
	justify-content: space-around;
}

#mainTime{
	display: flex;
	justify-content: center;
}
#time{
	color: white;
}

#player{
	color: white;
}

#black{
	width: 22.5%;
	height: 77%;
	background-color: black;
	opacity: 0.7;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}	

#blackPlayer{
	height: 17%;
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-around;
}

.LI{
	height: 25%;
	width: 25%;
}

#livePB{
	height: 65%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#livePW{
	height: 65%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#white{
	width: 22.5%;
	height: 77%;
	background-color: black;
	opacity: 0.5;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}	

#whitePlayer{
	height: 17%;
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-around;
}

#chessChat{
	position: fixed;
	height: 28%;
	width: 300px;
	z-index: 4;
	bottom: 10px;
	right: 10px;
	/*background-color: red;*/
	margin: 0px;
	/*display: none;*/
}
#chats{
	width: 100%;
	height: 80%;
	/*background-color: green;*/
	overflow: scroll;
	margin: 0px;
}

#newMsg{
	width: 100%;
	height: 15%;
	background-color: blue;

}

#msgList{
	list-style-type: none;
	margin: 0px;
	width: 100%;
}

#mainDiv{
	height: 96%;
	width: 45%;
	position: relative;
	background-color: black;
}

#boardDiv{
	position: absolute;
	height: 100%;
	z-index: 0;
	width: 100%;
}

#overBoard{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*background-color: #000000;*/
}

#mainP{
	/*background-color: #000000;*/
	margin: 2.84%;
	margin-top: 2.75%;
	height: 95%;
	width: 94.7%;
	display: flex;
	flex-wrap: wrap;
}

.P{
	height: 12.5%;
	width: 12.45%;
	/*background-color: #000000;*/
}

.PP{
	height: 100%;
	width: 100%;
}

#board{
	position: absolute;
	height: 100%;
	width: 100%;
}